<h1>Table</h1><table id="HTMLTable" class="tablesorter"><thead><tr><th>SNP_NAME</th>
	<th>Chr</th>
	<th>Pos</th>
	<th>P_val</th>
</tr></thead><tbody><tr><td>NSP1</td>
	<td>3</td>
	<td>5009493</td>
	<td>0.000134746180212288</td>
</tr></tbody></table><script type="text/javascript">

</script>