body {
    color: black;
    background: #fff;
    font-family: arial, helvetica, sans-serif;
}

a:hover { background: #ffa; }

/* Avoid too long lines */
p, td { max-width: 100ex; }

td, th { padding-right: 10px; }

a.external { text-decoration: none; }

.disabled { color: #888; }

table.alignleft td,th { text-align: left; }

.record {
	background-color: #e0e0ff;
	border: 1px solid #777;
	margin-bottom: 1em;
	display: inline-block;
}

/* Main page table */

table#main {
	border-collapse: collapse;
}

table#main tr {
	/*
	border-bottom: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	*/
}

table#main .col1 {
	background-color: #aaffaa;
	border-right: 1px solid #000000;
	text-align: right;
}

table#main .col2 {
	background-color: #ffffcc; /* #ffffaa; */
}

/* Table with different color on odd and even rows */

table.oddeven {
	border-spacing: 0px 2px;
}

table.oddeven th {
	border-bottom: solid 1px #aac;
}

tr.even { background-color: #e0e0ff; }

.record tr.odd { background-color: #e0e0ff; }
.record tr.even { background-color: #d0d0ff; }

input.navbar { text-align: center; }

table.summary { border-collapse: collapse; }
table.summary td,th { padding: 3px 10px 3px 0px; }

#footer {
    text-align: center;
    margin-top: 2em;
}
#date {
    font-size: small;
}

