BODY {
    background-color: #8DADAD;
    font-family: sans-serif;
}
#main,#head,#footer {
    background-color: white;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px 20px 20px 20px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 15px;
    max-width:90%;
    min-width: 500px;
    -moz-box-shadow: -2px 3px 6px #022;
    -webkit-box-shadow: -2px 3px 6px #022;
    box-shadow: -2px 3px 6px #022;
}
PRE {
    overflow-x: auto;
    padding: 5px;
}
#head,#footer {
    padding-top: 20px;
}
#footer {
    font-size: small;
    text-align: center;
}
A { color: #3D3DAD;
    text-decoration: none;
}
H1 {
    font-family: sans-serif;
    font-size: large;
}
H2 {
    font-size: medium;
}
UL,OL {
    margin-top: 0px;
    margin-bottom: 0px;
}
.addr {
    font-style: italic;
}
TABLE {
    border-style: none;
    border-spacing: 0px;
}
TD,TH {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
}
.folder {
    margin-right: 0.3ex;
}
.item {
    margin-right: 0.3ex;
}
.name {
    margin-right: 0.3ex;
}
.size {
    font-size: small;
}
.annotation {
    font-style: italic;
    margin-left: 0.5ex;
    margin-right: 1ex;
}
