circle {
  fill: #fff;
  cursor: pointer;
  stroke: blue;
  stroke-width: 1.0px;
  z-index:2;
}

text {
    font-size:10px;
}

path.link {
  fill: none;
  stroke-width: 1.5px;
  stroke: #ccc;
  z-index:1;
}

body {
background-color:white;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 12px;
    font-family: sans-serif;
}