* { box-sizing: border-box; }
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
select {
    border-radius: 4px;
    background-color: #fff;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    margin-bottom: 6px;
}

#menuArea {
  display: block;
  float: left;
  text-align: left;
  width: 20%;
  background-color:#f9f9f9;
  border: 1px solid #eee;
  padding: 6px 12px 12px 6px;
}
#imageArea {
  display: block;
  float: left;
  width: 80%;
}
.nameTitle {
  font-weight: bold;
}
#selectedImage {
  max-width: 100%;
  max-height: 100%;
}
