<h1>Table</h1><table id="HTMLTable" class="tablesorter"><thead><tr><th>SNP_NAME	Chr	Pos	P_val</th>
	<th>Chr</th>
	<th>Pos</th>
	<th>grammas_P_val</th>
</tr></thead><tbody><tr><td>BICF2G630125122</td>
	<td>37</td>
	<td>5009493</td>
	<td>0.000134746180212288</td>
</tr></tbody></table><script type="text/javascript">
$(document).ready(function()
	{
	}
);
</script>